:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemetos base */
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

.main-content{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(/assets/capa-house.jpg);
    background-size: cover;
    height: 25.5rem;
}

header .containerr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Bebas Neue', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff
}

/* filme principal */
.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 16px;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black
}

.botao i{
    margin-right: 8px;
}

.containerr{
    margin-left: 30px;
    margin-right: 10px;
}

.filme-principal .containerr{
    width: 70%
}

.box-filme{
    display: block;
    height: 100%;
    width: 100%;
    transition: 1s;
    cursor: pointer;
}

.box-filme:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 5px
}