@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        display: flex;
        margin-top: 5px;
        width: 300px;
    }

    .botao i{
        margin-left: 50px;
        margin-right: 15px;
    }

    .assistir-agora{
        margin-left: 2px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}